
<style>
  h1 {
    margin-bottom: 30px;
    align-content: center;
    margin-left: 20%;
    margin-right: auto;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 32px;
    text-transform: uppercase;
  }

  h2{font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 40px;}

  span{
    font-weight: bolder;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 100px;
  }

  .container{
    display: flex;

  }

  #projects{
    background-color: #494949;
    opacity:0.9;
    color: white;
  }

  #projects {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    margin-top: 100px;
    flex: auto;
    align-items: center;
  }


  @media only screen and (min-width: 1200px) {
    .layout-margin{
      width: 20%;
    }

    .layout-item{
      width: 60%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .layout-margin{
      width: 1%;
    }

    .layout-item{
      width: 100%;
    }
  }

  img{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;

  }

  body{
    background-image: url("/images/james-harrison-laptop_image.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: contain;
    background-attachment: fixed;
    background-color: black;
  }

  .h2_with_line{
    display: block;padding-bottom: 5px; border-bottom: 5px solid rgba(57,255,139,0.48);
    border-top: 5px solid rgba(57,255,139,0.48);
  }

  @media only screen and (min-width: 1200px) {
    .image6,.image9,.image10,.image11{
      height: 300px;
      width: 400px;
    }
    .image5,.image7,.image8,.image12,.image13,.image14,.image15,.image16{
      height: 300px;
      width: 300px;
    }

    .image1{
      height: 180px;
      width: 400px;
    }
    .image2{
      height: 150px;
      width: 300px;
    }

    .image3{
      height: 180px;
      width: 400px;
    }
    .image4{
      height: 150px;
      width: 300px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .image6,.image11{
      height: 200px;
      width: 300px;
    }

    .image9,.image10
    {
      height: 200px;
      width: 200px;
    }

    .image5,.image7,.image8,.image12,.image13,.image14,.image15,.image16{
      height: 200px;
      width: 290px;
    }

    .image1{
      height: 120px;
      width: 300px;
    }
    .image2{
      height: 120px;
      width: 270px;
    }

    .image3{
      height: 120px;
      width: 300px;
    }
    .image4{
      height: 120px;
      width: 270px;
    }
  }

    
</style>


<div class="container">
  <article id="projects" class="layout-item">
    <h1> Some of my Projects: </h1>

    <div>
      <h2 class="h2_with_line">
        Shopify with BoosterApps - Wide Shopify Apps List and SaaS - Technical Team Leader
      </h2>
      <p>
        Project description:
        That was a great journey to Shopify platform. We build a lot of apps that are used around the globe by million of store owners and their clients.
        Tools are related to: Seo Optimization, Sales Improvements, Site Performance Optimization, Currency Exchange and many others.
      </p>
      <p>
      <span style="margin-bottom: 5px;">
      <p> <strong>Site:</strong>   https://apps.shopify.com/partners/booster-apps </p>
      <p><strong>Technologies</strong>: Ruby on Rails,Postgresql, Shopify + Shopify API, Heroku, Redis,Timescale(DB)</p>
      </span>
      </p>
      <div>
        <%= link_to("/images/booster2.png", target: "_blank") do %>
          <%= image_tag("/images/booster2.png",class: 'image1') %>
        <% end %>

        <%= link_to("/images/speed.png", target: "_blank") do %>
          <%= image_tag("/images/speed.png",class: 'image2') %>
        <% end %>

        <%= link_to("/images/booster1.png", target: "_blank") do %>
          <%= image_tag("/images/booster1.png",class: 'image3') %>
        <% end %>

        <%= link_to("/images/upsell.png", target: "_blank") do %>
          <%= image_tag("/images/upsell.png",class: 'image4') %>
        <% end %>

      </div>

    </div>


    <div>
      <h2 class="h2_with_line" >
        Gas Pipeline Management System at GlobeZenit - Team Leader
      </h2>

      <p>
        I was <strong>Team Leader</strong> for 4 projects based on Pipeguardian Core for gas companies from France, Belgium and Netherlands.
        Those are big projects with comprehensive pipelines management abilities.
        I took entire responsibility for all aspects of the projects, I did team training, designed application architecture and even
        visit France, Belgium and Holland to speak face-to-face with our customers.
        Our client have been even such large companies as <a href="https://en.wikipedia.org/wiki/SABIC"> Sabic </a>
      </p>
      <p>
        <strong>Technologies</strong>: .Net,Ruby on Rails,Oracle, Oracle Spatial, Microstation v8i
      </p>

      <p>
        <span>
         Site: http://www.globezenit.be
        </span>
      </p>

      
      <div>
        <%= link_to("/images/pipeline_home.png", target: "_blank") do %>
          <%= image_tag("/images/pipeline_home.png",class: 'image5') %>
        <% end %>

        <%= link_to("/images/pipeline_map.png", target: "_blank") do %>
          <%= image_tag("/images/pipeline_map.png",class: 'image6') %>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="h2_with_line" >
        Shirt Magic - Printing Company - Main Developer
      </h2>

      <p>
        Designer
        Project description
        This project is basically a platform for shops and artists that are engaged into cloth printing business.
        This was a very interesting project for me because I started it when it was just a sketch, and lead it to a competitive platform that was on the first page of google search.
        What I like about this project is the fact that we build a system with a large set of tools by using a wide range of modern technologies, and we were able to create some superiority over competitors.
        And I consider this project a good "self grow" step in my professional carrier.
      </p>
      <p>
      <span>
      <p>
        <strong>Technologies</strong>: Ruby on Rails,HTML5, Angular 1, HTML Canvas, Postgresql, DigitalOcean(Ubuntu + Unicorn + Nginx)
      </p>
    </span>
      </p>
      <div>
        <%= link_to("/images/ShirtMagicHome.png", target: "_blank") do %>
          <%= image_tag("/images/ShirtMagicHome.png",class: 'image7') %>
        <% end %>

        <%= link_to("/images/ShirtMagicdesigner.png", target: "_blank") do %>
          <%= image_tag("/images/ShirtMagicdesigner.png",class: 'image8') %>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="h2_with_line" >
        Kepard - VPN Start-UP - Main .NET Developer
      </h2>
      <p>
        Project description:
        Kepard was very nice VPN start-up service and a very interesting experience for me:
        I was working on tuning and implementation of the latest .Net technologies for the client part of the project.
      </p>
      <span>
         <p><strong>Technologies</strong>: .NET,Open VPN,DotRas,Threading </p>
    </span>
      <%= link_image src: "vpn.png", class_name: 'image9' %>
      <%= link_image src: "vpn2.png", class_name: 'image10' %>
    </div>

    <div>
      <h2 class="h2_with_line">
        ShowMojo - Real Estate App - Main Developer
      </h2>
      <p>
        Project description
        It's a big and complex Real Estate showings site.
        I did a big amount of new tools and improved existing ones.
        http://showmojo.com
      </p>
      <p>
      </p>

      <%= link_to("/images/ShowMojo_home.png", target: "_blank") do %>
        <%= image_tag("/images/ShowMojo_home.png",class: 'image11') %>
      <% end %>

      <%= link_to("/images/ShowMojo_Map.png", target: "_blank") do %>
        <%= image_tag("/images/ShowMojo_Map.png",class: 'image12') %>
      <% end %>
    </div>


    <div>
      <h2 class="h2_with_line">
        MahjongTime - Online Game - Senior Developer
      </h2>
      <p>
        Mahjong Online - Online games and mahjong tournaments. You can play against other players 24/7
        I was working mostly on back-end logic ,with .NET(C#) ,Sql Server.
      </p>
      <span>

           <%= link_to("/images/mahjong_screen.png", target: "_blank") do %>
             <%= image_tag("/images/mahjong_screen.png",class: 'image13') %>
          <% end %>

        <%= link_to("/images/mahjong2.png", target: "_blank") do %>
             <%= image_tag("/images/mahjong2.png",class: 'image14') %>
        <% end %>


        <p>
      Site: https://www.mahjongtime.com</p>
    </span>

    </div>

    <div>
      <h2 class="h2_with_line">
        Online book store - Single Developer :)
      </h2>
      <p>
        Project description:
        I participated to interesting spree based project.
        It was an an online book store.
        My role was to work on bugs , implement new tools , and creating a feed service to automate data import from different sources.
      </p>
      <p>
      <span style="margin-bottom: 5px;">
      Site: https://www.wbsbooks.com/
    </span>
      </p>
      <div>

        <%= link_to("/images/store_home.png", target: "_blank") do %>
          <%= image_tag("/images/store_home.png",class: 'image15') %>
        <% end %>

        <%= link_to("/images/store_home.png", target: "_blank") do %>
          <%= image_tag("/images/store_grid.png",class: 'image16') %>
        <% end %>

      </div>
    </div>



  </article>
</div>

