
<style>
  h1 {
    margin-bottom: 30px;
    align-content: center;
    margin-left: 20%;
    margin-right: auto;
  }

  h2{font-size: 1.8em; margin-left: 20%; margin-top: 40px; margin-bottom: 40px;}

  span{
    font-weight: bolder;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 100px;
  }


  .container{
    display: flex;
  }

  #projects {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    margin-top: 100px;
    flex: auto;
    align-items: center;
  }

  .layout-margin{
    width: 20%;
  }

  .layout-item{
    width: 60%;
  }
  img{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;

  }
</style>


<div class="container">
  <div class="layout-margin"></div>
  <article id="projects" class="layout-item">
    <h1> My Main Projects: </h1>

    <div>
      <h2>
        Pipeline Management System at GlobeZenit
      </h2>
      <p>
        I was Team leader for 4 projects based on Pipeguardian Core for gas companies from France, Belgium and Netherlands.
        Those are big projects with comprehensive pipelines management abilities.
        I took entire responsibility for all aspects of the projects, I did team training, designed application architecture and even
        visit France, Belgium and Holland to speak face-to-face with our customers.
        Our client have been even such large companies as <a href="https://en.wikipedia.org/wiki/SABIC"> Sabic </a>
      </p>
      <p>
        Technologies: .Net,Ruby on Rails,Oracle, Oracle Spatial, Microstation v8i
      </p>

      <p>
      <span>
      Site: http://www.globezenit.be
    </span>
        <span>
      Dates - ???
    </span>
      </p>

      <div>

        <%= link_to("/images/pipeline_home.png", target: "_blank") do %>
          <%= image_tag("/images/pipeline_home.png",height: '300', width: '300') %>
        <% end %>

        <%= link_to("/images/pipeline_map.png", target: "_blank") do %>
          <%= image_tag("/images/pipeline_map.png",height: '300', width: '400') %>
        <% end %>
      </div>
    </div>


    <div>
      <h2>
        Shirt Magic
      </h2>

      <p>
        Designer
        Project description
        This project is basically a platform for shops and artists that are engaged into cloth printing business.
        This was a very interesting project for me because I started it when it was just a sketch, and lead it to a competitive platform that was on the first page of google search.
        What I like about this project is the fact that we build a system with a large set of tools by using a wide range of modern technologies, and we were able to create some superiority over competitors.
        And I consider this project a good "self grow" step in my professional carrier.
      </p>
      <p>
      <span>
       Dates - September 2015 - April 2017
       Technologies: Ruby on Rails,HTML5, Angular 1, HTML Canvas, Postgresql, DigitalOcean(Ubuntu + Unicorn + Nginx)
    </span>
      </p>
      <div>
        <%= link_to("/images/ShirtMagicHome.png", target: "_blank") do %>

          <%= image_tag("/images/ShirtMagicHome.png",height: '300', width: '300') %>
          <% end %>
        <%= link_to("/images/ShirtMagicdesigner.png", target: "_blank") do %>

        <%= image_tag("/images/ShirtMagicdesigner.png",height: '300', width: '300') %>

          <% end %>


        <%= link_to("/images/ShirtMagicdesigner.png", target: "_blank") do %>
        <%= image_tag("/images/ShirtMagicdesigner.png",height: '300', width: '300') %>
          <% end %>
      </div>
    </div>

    <div>
      <h2>
        Kepard VPN
      </h2>
      <p>
        Project description
        Kepard is very promising VPN service and this is a very interesting experience for me: I am working on tuning and implementation of the latest .Net technologies for the client part of the project.
        http://www.kepard.com
      </p>
      <span>
      <p>
        Dates - ???
      </p>
    </span>
      <%= link_to("/images/ShirtMagicdesigner.png", target: "_blank") do %>
        <%= image_tag("/images/vpn.png",height: '300', width: '300') %>
      <% end %>
    </div>

    <div>
      <h2>
        ShowMojo
      </h2>
      <p>
        Project description
        It's a big and complex Real Estate showings site.
        I did a big amount of new tools and improved existing ones.
        http://showmojo.com
      </p>
      <p>
      <span>
      Dates - ???
    </span>
      </p>

      <%= link_to("/images/ShowMojo_home.png", target: "_blank") do %>
        <%= image_tag("/images/ShowMojo_home.png",height: '300', width: '400') %>
      <% end %>

      <%= link_to("/images/ShowMojo_Map.png", target: "_blank") do %>
      <%= image_tag("/images/ShowMojo_Map.png",height: '300', width: '300') %>
        <% end %>
    </div>


    <div>
      <h2>
        MahjongTime
      </h2>
      <p>
        Mahjong Online - Online games and mahjong tournaments. You can play against other players 24/7
        I was working mostly on back-end logic ,with .NET(C#) ,Sql Server.
      </p>
      <span>
      Site: https://www.mahjongtime.com
    </span>
      <span>
      Dates - ???
    </span>

    </div>

    <div>
      <h2>
        Online book store.
      </h2>
      <p>
        Project description:
        I participated to interesting spree based project.
        It was an an online book store.
        My role was to work on bugs , implement new tools , and creating a feed service to automate data import from different sources.
      </p>
      <p>
      <span style="margin-bottom: 5px;">
      Site: https://www.wbsbooks.com/
    </span>
      </p>
      <div>

        <%= link_to("/images/store_home.png", target: "_blank") do %>
          <%= image_tag("/images/store_home.png",height: '300', width: '300') %>
        <% end %>
        <%= link_to("/images/store_home.png", target: "_blank") do %>
          <%= image_tag("/images/store_grid.png",height: '300', width: '300') %>
        <% end %>

      </div>
    </div>



    <div>
      <h2>
        Shopify with BoosterApps
      </h2>
      <p>
        Project description:
        That was a great journey to Shopify platform. We build a lot of apps that are used around the globe by million of people.
        Tools are related to: Seo Optimization, Sales Improvements, Site Performance Optimization, Currency Exchange and many others.
      </p>
      <p>
      <span style="margin-bottom: 5px;">
      Site:   https://apps.shopify.com/partners/booster-apps
        Technologies: Ruby on Rails,Postgresql, Shopify + Shopify API, Heroku, Redis,Timescale(DB)
    </span>
      </p>
      <div>
        <%= link_to("/images/booster2.png", target: "_blank") do %>
          <%= image_tag("/images/store_home.png",height: '300', width: '300') %>
        <% end %>
        <%= link_to("/images/booster1.png", target: "_blank") do %>
          <%= image_tag("/images/store_grid.png",height: '300', width: '300') %>
        <% end %>
      </div>
    </div>


  </article>
</div>

