
<div class="reviews">
  <div class="inline_block">
    <%= image_tag("/images/#{person[:image_src]}",width: '104',height: '92',class: "inline_block") %>
  </div>

  <div class="inline_block" style="margin-top: 25px;">
    &nbsp;<i class="fa fa-linkedin"></i> <%= link_to person[:position], person[:linkedin] %> </br>
    &nbsp; &nbsp;<i class="fa fa-cog"></i>  Professional Evaluation:
    <%= stars person[:stars_a] %>
    </br>
    &nbsp;&nbsp;&nbsp;<i class="fa fa-users"></i> Team Member:
    <%= stars person[:stars_b] %>
    </br>
  </div>
  <p>
    <%= person[:review_text] %>
  </p>
</div>