
<style>
  h1{margin-top:  80px;margin-left: 40px;}
  table, th, td {
    border: 1px solid;
    padding: 15px;
    margin: 25px 25px 25px 25px;
  }

  .tdscroll {
    max-height: 100px;
    overflow:scroll;
  }

</style>

<script type="">

    let values = <%= raw @texts.to_json %>;
    function copy(id){
        const matchIndex = (element) => element["id"].toString() === id.toString();
        let index = values.findIndex(matchIndex)
        let text = values[index].value;

        if (text && text !=null && text !== ""){
            copyToClipboard(text)
        }
    }

    // Copies a string to the clipboard. Must be called from within an
    // event handler such as click. May return false if it failed, but
    // this is not always possible. Browser support for Chrome 43+,
    // Firefox 42+, Safari 10+, Edge and Internet Explorer 10+.
    // Internet Explorer: The clipboard feature may be disabled by
    // an administrator. By default a prompt is shown the first
    // time the clipboard is used (per session).
    function copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
            // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
            return window.clipboardData.setData("Text", text);

        }
        else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
            var textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
            document.body.appendChild(textarea);
            textarea.select();
            try {
                return document.execCommand("copy");  // Security exception may be thrown by some browsers.
            }
            catch (ex) {
                console.warn("Copy to clipboard failed.", ex);
                return prompt("Copy to clipboard: Ctrl+C, Enter", text);
            }
            finally {
                document.body.removeChild(textarea);
            }
        }
    }
</script>

<h1>That's space for text</h1>
<p> </p>

<div style="max-height: 300px; overflow: scroll">
<table class="cbtable">
  <tr>
    <th>Value </th>
    <th>Copy </th>
  </tr>
  <% @texts.each_with_index do |t,i| %>
    <tr>
      <td style="min-width: 300px"><%= t.value %></td>
      <td class="tdscroll"><button onclick="copy(<%= t.id.to_s %>)"> Copy
      </button></td><td>
    </tr>
  <% end %>
</table>
</div>

<%= form_for :cptext,url: text_space_create_url do |f| %>
  Content: <%= f.text_area :value,cols: "50", rows: "5"  %><br />
  <%= f.submit %>
<% end %>






